---
title: SamsunCoders
---

<div class="katil-box">
  <a class="katil-button" target="_blank" href="https://goo.gl/forms/sZXtwMozxrzBfVjH3">KATILIM FORMU</a>
</div>

<p>
  SamsunCoders Samsun merkezli yazılım ve teknoloji alanında çalışan veya bu alanlara ilgi duyan, alakalı bölümlerde eğitim alan insanları bir araya getirip, programlama dilleri, yazılım geliştirme teknolojileri ve metodları, sektörün geleceği vb. konularda tartışacağımız, tecrübelerimizi paylaşacağımız etkinlikler ve toplantılar düzenlemek için kurulan bir topluluktur. Topluluğumuz aynı sektör içinde yardımlaşmayı, ortak projelerde çalışmayı ve kariyer hayatlarımıza birbirimizin tecrübelerinden yola çıkarak yön vermeyi amaçlıyor.
</p>

<p>
  Katılım formu topluluğa olacak ilgiyi ölçümlemek, topluluğun geleceği ve planlanacak etkinliklerin konusunu belirlemek amacıyla oluşturulmuştur. Sizden ilgi duyuyor iseniz formu eksiksiz doldurarak taleplerinizi veya bize yön vereceğini düşündüğünüz fikirlerinizi paylaşmanızı istiyoruz. 5 dakikadan fazla zamanınızı almayacak. İlgi topluluğu oluşturmaya yetecek kadar olur ise ilk tanışma etkinliğimizi planladığımızda bıraktığınız e-posta adresi üzerinden haberdar edileceksiniz.
</p>

<p>Verdiğiniz cevaplar başka hiç bir amaçla kullanılmayacaktır.</p>
<p>Sevgilerimizle...</p>
